footer {
    height: 5vh;

    .wrapper {
        display: flex;
        justify-content: center;

        p {
            position: relative;
            top: .5rem;
            font-size: .75rem;
        }

    }

}