@media (max-width: 1480px) {

    .blogHeader {

        .wrapper {
            width: 90%;
        }

    }

    .blogMain {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "BLGSTN"
            "CMTSTN"
        ;

        .blogSection {
            left: 0;
            max-width: 3000px;
        }

    }
    
    .menuArticle {

        .articleHeader {
            height: 100%;
            display: flex;
            justify-content: center;

            .imageContainer {
                position: relative;
                left: 0;
                bottom: 30px;
            }

            img {
                transform: scale(1.0);
            }

        }

    }

    .articleBody {
        width: 100%;
        left: 0;

        .articleParagraphs {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .articleHeadline {
                position: relative;
            }
            
            p {
                max-width: 100%;
            }

        }
        
    }

    .articleComments {
        left: 0;

        .wrapper {
            width: 100%;   
        }

        .commentSection {
            left: 4.5%;
        }
        
    }

    form {
        width: 100%;

        .userInformation {

            fieldset {
                width: 100%;
            }

            input[type="text"],
            input[type="email"] {
                width: 100%;
                max-width: 100%;
            }
            
        }
        
    }

    .asideSection {
        visibility: hidden;
    }

}

@media (max-width: 680px) {

    .sulaireComment,
    .renzoComment {
        display: flex;
        flex-direction: column;
        
        .userComment {
            font-size: 1rem;
        }

    }

}