.indexHeader {
    background: url(../assets/home-image-1.jpg);
    height: 100vh;
    padding: 2rem 0;
    background-repeat: no-repeat;
    background-size: cover;

    .wrapper {
        width: 100%;
    }
    
}

.desktopMenu {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .navigationMenu {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;
        align-items: flex-end;
        color: white;
        min-width: 620px;

        .brandLogo {
            font-family: $primaryFont;
            font-size: calc(1.9rem * 1.75);
            text-transform: none;
            position: relative;
            top: .5rem;
        }

        a {
            font-family: $secondaryFont;
            font-size: 1.9rem;
            text-transform: uppercase;
            letter-spacing: 1.9px;
            line-height: 29px;
        }

        .active {
            color: $primaryColour;
        }

    }
    
}

.responsiveMenu {
    display: none;
}

.headerContent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 85vh;

    .headerText {
        z-index: 10;

        h1 {
            font-family: $primaryFont;
            font-size: 13.07rem;
            font-weight: 400;
            letter-spacing: 2.4px;
            color: $primaryColour;
            text-align: center;
            line-height: 125px;
            position: relative;
            right: 5%;
            bottom: 10%;
        }
    
        h2 {
            font-family: $secondaryFont;
            font-size: 4.16rem;
            letter-spacing: 2.6px;
            line-height: 94.7px;
            color: white;
            text-align: center;
            position: relative;
            right: 25%;
            bottom: 5%;
        }

    }

    .headerImage {
        position: absolute;
        right: -6.5%;
        top: 45%;
        transform: scale(1.25);

        .imageContainer {
            width: 100%;
        }

    }

}